body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #040C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#login-container, #data-container {
    background: #121B2D;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 225px;
}

#login-container h2, #data-container h1 {
    font-size: 32px;
    color: #FFFFFF;
}

h2 {
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin-bottom: 10px;
    text-align: left;
    color: #FFFFFF;
    width : 455px;
    font-size: 13px;
    margin: auto;
}

input {
    background-color: #040C1C;
    height: 30px;
    border-color: #FFFFFF;
    border-width:1px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 18px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    padding: 5px;
    background-color: #4884FC;
    width : 125px;
    height: 40px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border-color: #040C1C;
    border-width:1px;
    font-size: 20px;
}

button:hover {
    background-color: #3074fa;
}
